NVIDIA_API_KEY=
WEB_RESEARCH_API_KEY=
GEMINI_API_KEY=
OPENAI_API_KEY=
LANGSMITH_API_KEY=
DATABASE_URI=postgres://postgres:postgres@127.0.0.1:5433/postgres?sslmode=disable
POSTGRES_URI=postgres://postgres:postgres@127.0.0.1:5433/postgres?sslmode=disable
REDIS_URI=redis://127.0.0.1:6379
